./healthy/036102healthy_continue_20cms_0degUP.avi
./healthy/healthy_NSG336_3_20cms_0degUP.avi
./healthy/healthy_NSG336_1_20cms_0degUP.avi
./injured/039350_left_continue_20cms_0degUP.avi
./injured/right_right_039348_20cms_0degUP.avi
./injured/038024_left_continue_20cms_0degUP.avi
./injured/039350_left_left_20cms_0degUP.avi
./injured/039348_left_ninja_2_20cms_0degUP.avi
./injured/039350_right_right_20cms_0degUP.avi
./injured/036102_right_20cms_0degUP.avi
./injured/039350_left_20cms_0degUP.avi
./injured/left039348_20cms_0degUP.avi
./injured/rightright_039348_2_20cms_0degUP.avi
./injured/leftleft039348_2_20cms_0degUP.avi
./injured/right_right_039348_3_20cms_0degUP.avi
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
healthy/*
injured/*

Yolo_fine_tunning/model_data/yolo.h5
Yolo_fine_tunning/model_data/yolov3.weights
Yolo_fine_tunning/yolov3.weights
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
Yolo_fine_tunning/model_data/yolo.h5
Yolo_fine_tunning/model_data/yolov3.weights
Yolo_fine_tunning/yolov3.weights
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
Yolo_fine_tunning/model_data/yolo.h5
Yolo_fine_tunning/model_data/yolov3.weights
Yolo_fine_tunning/yolov3.weights
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
./Yolo_fine_tunning/model_data/yolo.h5
./Yolo_fine_tunning/model_data/yolov3.weights
./Yolo_fine_tunning/bottlenecks_mouse.npz
./Yolo_fine_tunning/logs/trained_weights_stage_0_mouse.h5
./Yolo_fine_tunning/yolov3.weights
./healthy/036102healthy_continue_20cms_0degUP.avi
./healthy/healthy_NSG336_3_20cms_0degUP.avi
./healthy/healthy_NSG336_1_20cms_0degUP.avi
./injured/039350_left_continue_20cms_0degUP.avi
./injured/right_right_039348_20cms_0degUP.avi
./injured/038024_left_continue_20cms_0degUP.avi
./injured/039350_left_left_20cms_0degUP.avi
./injured/039348_left_ninja_2_20cms_0degUP.avi
./injured/039350_right_right_20cms_0degUP.avi
./injured/036102_right_20cms_0degUP.avi
./injured/039350_left_20cms_0degUP.avi
./injured/left039348_20cms_0degUP.avi
./injured/rightright_039348_2_20cms_0degUP.avi
./injured/leftleft039348_2_20cms_0degUP.avi
./injured/right_right_039348_3_20cms_0degUP.avi
./Yolo_fine_tunning/model_data/yolo.h5
./Yolo_fine_tunning/model_data/yolov3.weights
./Yolo_fine_tunning/bottlenecks_mouse.npz
./Yolo_fine_tunning/logs/trained_weights_stage_0_mouse.h5
./Yolo_fine_tunning/yolov3.weights
./healthy/036102healthy_continue_20cms_0degUP.avi
./healthy/healthy_NSG336_3_20cms_0degUP.avi
./healthy/healthy_NSG336_1_20cms_0degUP.avi
./injured/039350_left_continue_20cms_0degUP.avi
./injured/right_right_039348_20cms_0degUP.avi
./injured/038024_left_continue_20cms_0degUP.avi
./injured/039350_left_left_20cms_0degUP.avi
./injured/039348_left_ninja_2_20cms_0degUP.avi
./injured/039350_right_right_20cms_0degUP.avi
./injured/036102_right_20cms_0degUP.avi
./injured/039350_left_20cms_0degUP.avi
./injured/left039348_20cms_0degUP.avi
./injured/rightright_039348_2_20cms_0degUP.avi
./injured/leftleft039348_2_20cms_0degUP.avi
./injured/right_right_039348_3_20cms_0degUP.avi
injured/
healthy/
Yolo_fine_tunning/model_data/yolo.h5
Yolo_fine_tunning/model_data/yolov3.weights
Yolo_fine_tunning/bottlenecks_mouse.npz
Yolo_fine_tunning/logs/.data-00000-of-00001
Yolo_fine_tunning/logs/trained_weights_stage_0_mouse.h5
Yolo_fine_tunning/logs/trained_weights_final_mouse.h5
Yolo_fine_tunning/yolov3.weights
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
./models/input/yolo.h5
./models/input/yolov3.weights
./models/fine_tunned_yolo_weights/trained_weights_stage_0_mouse.h5
./models/fine_tunned_yolo_weights/trained_weights_final_mouse.h5
/Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions/97.0.4692.99/Google Chrome Framework
/Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions/97.0.4692.71/Google Chrome Framework
/Applications/Spotify.app/Contents/Frameworks/Chromium Embedded Framework.framework/Chromium Embedded Framework
/Applications/Adobe Acrobat Reader DC.app/Contents/Frameworks/Chromium Embedded Framework.framework/Chromium Embedded Framework
/Applications/Adobe Acrobat DC/Adobe Acrobat.app/Contents/Plugins/Preflight.acroplugin/Contents/Frameworks/PreflightLib.framework/Versions/A/PreflightLib
/Applications/Adobe Acrobat DC/Adobe Acrobat.app/Contents/Frameworks/Chromium Embedded Framework.framework/Chromium Embedded Framework
/Library/Application Support/Adobe/AdobeGCClient/AdobeGCClient.app/Contents/Frameworks/Chromium Embedded Framework.framework/Chromium Embedded Framework
/Library/Developer/CommandLineTools/usr/bin/clang
/Library/Developer/CommandLineTools/usr/bin/swift-frontend
/Library/Developer/CommandLineTools/usr/lib/sourcekitd.framework/Versions/A/XPCServices/SourceKitService.xpc/Contents/MacOS/SourceKitService
/Library/Developer/CommandLineTools/usr/lib/libclang.dylib
/Library/Developer/CommandLineTools/Library/PrivateFrameworks/LLDB.framework/Versions/A/LLDB
models/input/yolo.h5
models/input/yolov3.weights
models/fine_tunned_yolo_weights/trained_weights_stage_0_mouse.h5
models/fine_tunned_yolo_weights/trained_weights_final_mouse.h5
/.ipynb_checkpoints
/.DS_Store
/.gitignore

.DS_Store
.DS_Store
.ipynb_checkpoints
.gitignore
input/trained_weights/trained_weights_stage_0_mouse.h5
input/trained_weights/trained_weights_final_mouse.h5
input/model-data/model_data/yolo.h5
input/model-data/model_data/yolov3.weights
input/trained_weights/trained_weights_stage_0_mouse.h5
input/trained_weights/trained_weights_final_mouse.h5
input/model-data/model_data/yolo.h5
input/model-data/model_data/yolov3.weights
input/logs/bottlenecks_4mouse2.pickle
input/logs/bottlenecks_3mouse2.pickle
input/logs/bottlenecks_12mouse1.pickle
input/logs/bottlenecks_15mouse1.pickle
input/logs/bottlenecks_5mouse0.pickle
input/logs/bottlenecks_2mouse0.pickle
input/logs/bottlenecks_14mouse1.pickle
input/logs/bottlenecks_13mouse1.pickle
input/logs/bottlenecks_2mouse2.pickle
input/logs/bottlenecks_5mouse2.pickle
input/logs/bottlenecks_3mouse0.pickle
input/logs/bottlenecks_4mouse0.pickle
input/logs/bottlenecks_17mouse2.pickle
input/logs/bottlenecks_10mouse2.pickle
input/logs/bottlenecks_1mouse1.pickle
input/logs/bottlenecks_6mouse1.pickle
input/logs/bottlenecks_9mouse0.pickle
input/logs/bottlenecks_8mouse2.pickle
input/logs/bottlenecks_16mouse0.pickle
input/logs/bottlenecks_11mouse0.pickle
input/logs/bottlenecks_19mouse1.pickle
input/logs/bottlenecks_7mouse1.pickle
input/logs/bottlenecks_0mouse1.pickle
input/logs/bottlenecks_8mouse0.pickle
input/logs/bottlenecks_11mouse2.pickle
input/logs/bottlenecks_16mouse2.pickle
input/logs/bottlenecks_10mouse0.pickle
input/logs/bottlenecks_17mouse0.pickle
input/logs/bottlenecks_18mouse1.pickle
input/logs/bottlenecks_9mouse2.pickle
input/logs/bottlenecks_2mouse1.pickle
input/logs/bottlenecks_5mouse1.pickle
input/logs/bottlenecks_14mouse2.pickle
input/logs/bottlenecks_13mouse2.pickle
input/logs/bottlenecks_15mouse0.pickle
input/logs/bottlenecks_12mouse0.pickle
input/logs/bottlenecks_12mouse2.pickle
input/logs/bottlenecks_15mouse2.pickle
input/logs/bottlenecks_4mouse1.pickle
input/logs/bottlenecks_3mouse1.pickle
input/logs/bottlenecks_13mouse0.pickle
input/logs/bottlenecks_14mouse0.pickle
input/logs/bottlenecks_11mouse1.pickle
input/logs/bottlenecks_16mouse1.pickle
input/logs/bottlenecks_19mouse0.pickle
input/logs/bottlenecks_7mouse2.pickle
input/logs/bottlenecks_0mouse2.pickle
input/logs/bottlenecks_6mouse0.pickle
input/logs/bottlenecks_1mouse0.pickle
input/logs/bottlenecks_9mouse1.pickle
input/logs/bottlenecks_18mouse2.pickle
input/logs/bottlenecks_1mouse2.pickle
input/logs/bottlenecks_6mouse2.pickle
input/logs/bottlenecks_17mouse1.pickle
input/logs/bottlenecks_10mouse1.pickle
input/logs/bottlenecks_18mouse0.pickle
input/logs/bottlenecks_19mouse2.pickle
input/logs/bottlenecks_0mouse0.pickle
input/logs/bottlenecks_7mouse0.pickle
input/logs/bottlenecks_8mouse1.pickle
input/mouse-on-treadmill-frames
