./healthy/036102healthy_continue_20cms_0degUP.avi
./healthy/healthy_NSG336_3_20cms_0degUP.avi
./healthy/healthy_NSG336_1_20cms_0degUP.avi
./injured/039350_left_continue_20cms_0degUP.avi
./injured/right_right_039348_20cms_0degUP.avi
./injured/038024_left_continue_20cms_0degUP.avi
./injured/039350_left_left_20cms_0degUP.avi
./injured/039348_left_ninja_2_20cms_0degUP.avi
./injured/039350_right_right_20cms_0degUP.avi
./injured/036102_right_20cms_0degUP.avi
./injured/039350_left_20cms_0degUP.avi
./injured/left039348_20cms_0degUP.avi
./injured/rightright_039348_2_20cms_0degUP.avi
./injured/leftleft039348_2_20cms_0degUP.avi
./injured/right_right_039348_3_20cms_0degUP.avi
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
healthy/*
injured/*

Yolo_fine_tunning/model_data/yolo.h5
Yolo_fine_tunning/model_data/yolov3.weights
Yolo_fine_tunning/yolov3.weights
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
Yolo_fine_tunning/model_data/yolo.h5
Yolo_fine_tunning/model_data/yolov3.weights
Yolo_fine_tunning/yolov3.weights
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
Yolo_fine_tunning/model_data/yolo.h5
Yolo_fine_tunning/model_data/yolov3.weights
Yolo_fine_tunning/yolov3.weights
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
./Yolo_fine_tunning/model_data/yolo.h5
./Yolo_fine_tunning/model_data/yolov3.weights
./Yolo_fine_tunning/bottlenecks_mouse.npz
./Yolo_fine_tunning/logs/trained_weights_stage_0_mouse.h5
./Yolo_fine_tunning/yolov3.weights
./healthy/036102healthy_continue_20cms_0degUP.avi
./healthy/healthy_NSG336_3_20cms_0degUP.avi
./healthy/healthy_NSG336_1_20cms_0degUP.avi
./injured/039350_left_continue_20cms_0degUP.avi
./injured/right_right_039348_20cms_0degUP.avi
./injured/038024_left_continue_20cms_0degUP.avi
./injured/039350_left_left_20cms_0degUP.avi
./injured/039348_left_ninja_2_20cms_0degUP.avi
./injured/039350_right_right_20cms_0degUP.avi
./injured/036102_right_20cms_0degUP.avi
./injured/039350_left_20cms_0degUP.avi
./injured/left039348_20cms_0degUP.avi
./injured/rightright_039348_2_20cms_0degUP.avi
./injured/leftleft039348_2_20cms_0degUP.avi
./injured/right_right_039348_3_20cms_0degUP.avi
./Yolo_fine_tunning/model_data/yolo.h5
./Yolo_fine_tunning/model_data/yolov3.weights
./Yolo_fine_tunning/bottlenecks_mouse.npz
./Yolo_fine_tunning/logs/trained_weights_stage_0_mouse.h5
./Yolo_fine_tunning/yolov3.weights
./healthy/036102healthy_continue_20cms_0degUP.avi
./healthy/healthy_NSG336_3_20cms_0degUP.avi
./healthy/healthy_NSG336_1_20cms_0degUP.avi
./injured/039350_left_continue_20cms_0degUP.avi
./injured/right_right_039348_20cms_0degUP.avi
./injured/038024_left_continue_20cms_0degUP.avi
./injured/039350_left_left_20cms_0degUP.avi
./injured/039348_left_ninja_2_20cms_0degUP.avi
./injured/039350_right_right_20cms_0degUP.avi
./injured/036102_right_20cms_0degUP.avi
./injured/039350_left_20cms_0degUP.avi
./injured/left039348_20cms_0degUP.avi
./injured/rightright_039348_2_20cms_0degUP.avi
./injured/leftleft039348_2_20cms_0degUP.avi
./injured/right_right_039348_3_20cms_0degUP.avi
injured/
healthy/
Yolo_fine_tunning/model_data/yolo.h5
Yolo_fine_tunning/model_data/yolov3.weights
Yolo_fine_tunning/bottlenecks_mouse.npz
Yolo_fine_tunning/logs/.data-00000-of-00001
Yolo_fine_tunning/logs/trained_weights_stage_0_mouse.h5
Yolo_fine_tunning/logs/trained_weights_final_mouse.h5
Yolo_fine_tunning/yolov3.weights
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
./models/input/yolo.h5
./models/input/yolov3.weights
./models/fine_tunned_yolo_weights/trained_weights_stage_0_mouse.h5
./models/fine_tunned_yolo_weights/trained_weights_final_mouse.h5
/Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions/97.0.4692.99/Google Chrome Framework
/Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions/97.0.4692.71/Google Chrome Framework
/Applications/Spotify.app/Contents/Frameworks/Chromium Embedded Framework.framework/Chromium Embedded Framework
/Applications/Adobe Acrobat Reader DC.app/Contents/Frameworks/Chromium Embedded Framework.framework/Chromium Embedded Framework
/Applications/Adobe Acrobat DC/Adobe Acrobat.app/Contents/Plugins/Preflight.acroplugin/Contents/Frameworks/PreflightLib.framework/Versions/A/PreflightLib
/Applications/Adobe Acrobat DC/Adobe Acrobat.app/Contents/Frameworks/Chromium Embedded Framework.framework/Chromium Embedded Framework
/Library/Application Support/Adobe/AdobeGCClient/AdobeGCClient.app/Contents/Frameworks/Chromium Embedded Framework.framework/Chromium Embedded Framework
/Library/Developer/CommandLineTools/usr/bin/clang
/Library/Developer/CommandLineTools/usr/bin/swift-frontend
/Library/Developer/CommandLineTools/usr/lib/sourcekitd.framework/Versions/A/XPCServices/SourceKitService.xpc/Contents/MacOS/SourceKitService
/Library/Developer/CommandLineTools/usr/lib/libclang.dylib
/Library/Developer/CommandLineTools/Library/PrivateFrameworks/LLDB.framework/Versions/A/LLDB
models/input/yolo.h5
models/input/yolov3.weights
models/fine_tunned_yolo_weights/trained_weights_stage_0_mouse.h5
models/fine_tunned_yolo_weights/trained_weights_final_mouse.h5
/.ipynb_checkpoints
/.DS_Store
/.gitignore

