./healthy/036102healthy_continue_20cms_0degUP.avi
./healthy/healthy_NSG336_3_20cms_0degUP.avi
./healthy/healthy_NSG336_1_20cms_0degUP.avi
./injured/039350_left_continue_20cms_0degUP.avi
./injured/right_right_039348_20cms_0degUP.avi
./injured/038024_left_continue_20cms_0degUP.avi
./injured/039350_left_left_20cms_0degUP.avi
./injured/039348_left_ninja_2_20cms_0degUP.avi
./injured/039350_right_right_20cms_0degUP.avi
./injured/036102_right_20cms_0degUP.avi
./injured/039350_left_20cms_0degUP.avi
./injured/left039348_20cms_0degUP.avi
./injured/rightright_039348_2_20cms_0degUP.avi
./injured/leftleft039348_2_20cms_0degUP.avi
./injured/right_right_039348_3_20cms_0degUP.avi
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
healthy/*
injured/*

Yolo_fine_tunning/model_data/yolo.h5
Yolo_fine_tunning/model_data/yolov3.weights
Yolo_fine_tunning/yolov3.weights
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
Yolo_fine_tunning/model_data/yolo.h5
Yolo_fine_tunning/model_data/yolov3.weights
Yolo_fine_tunning/yolov3.weights
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
Yolo_fine_tunning/model_data/yolo.h5
Yolo_fine_tunning/model_data/yolov3.weights
Yolo_fine_tunning/yolov3.weights
healthy/036102healthy_continue_20cms_0degUP.avi
healthy/healthy_NSG336_3_20cms_0degUP.avi
healthy/healthy_NSG336_1_20cms_0degUP.avi
injured/039350_left_continue_20cms_0degUP.avi
injured/right_right_039348_20cms_0degUP.avi
injured/038024_left_continue_20cms_0degUP.avi
injured/039350_left_left_20cms_0degUP.avi
injured/039348_left_ninja_2_20cms_0degUP.avi
injured/039350_right_right_20cms_0degUP.avi
injured/036102_right_20cms_0degUP.avi
injured/039350_left_20cms_0degUP.avi
injured/left039348_20cms_0degUP.avi
injured/rightright_039348_2_20cms_0degUP.avi
injured/leftleft039348_2_20cms_0degUP.avi
injured/right_right_039348_3_20cms_0degUP.avi
./Yolo_fine_tunning/model_data/yolo.h5
./Yolo_fine_tunning/model_data/yolov3.weights
./Yolo_fine_tunning/bottlenecks_mouse.npz
./Yolo_fine_tunning/logs/trained_weights_stage_0_mouse.h5
./Yolo_fine_tunning/yolov3.weights
./healthy/036102healthy_continue_20cms_0degUP.avi
./healthy/healthy_NSG336_3_20cms_0degUP.avi
./healthy/healthy_NSG336_1_20cms_0degUP.avi
./injured/039350_left_continue_20cms_0degUP.avi
./injured/right_right_039348_20cms_0degUP.avi
./injured/038024_left_continue_20cms_0degUP.avi
./injured/039350_left_left_20cms_0degUP.avi
./injured/039348_left_ninja_2_20cms_0degUP.avi
./injured/039350_right_right_20cms_0degUP.avi
./injured/036102_right_20cms_0degUP.avi
./injured/039350_left_20cms_0degUP.avi
./injured/left039348_20cms_0degUP.avi
./injured/rightright_039348_2_20cms_0degUP.avi
./injured/leftleft039348_2_20cms_0degUP.avi
./injured/right_right_039348_3_20cms_0degUP.avi
./Yolo_fine_tunning/model_data/yolo.h5
./Yolo_fine_tunning/model_data/yolov3.weights
./Yolo_fine_tunning/bottlenecks_mouse.npz
./Yolo_fine_tunning/logs/trained_weights_stage_0_mouse.h5
./Yolo_fine_tunning/yolov3.weights
./healthy/036102healthy_continue_20cms_0degUP.avi
./healthy/healthy_NSG336_3_20cms_0degUP.avi
./healthy/healthy_NSG336_1_20cms_0degUP.avi
./injured/039350_left_continue_20cms_0degUP.avi
./injured/right_right_039348_20cms_0degUP.avi
./injured/038024_left_continue_20cms_0degUP.avi
./injured/039350_left_left_20cms_0degUP.avi
./injured/039348_left_ninja_2_20cms_0degUP.avi
./injured/039350_right_right_20cms_0degUP.avi
./injured/036102_right_20cms_0degUP.avi
./injured/039350_left_20cms_0degUP.avi
./injured/left039348_20cms_0degUP.avi
./injured/rightright_039348_2_20cms_0degUP.avi
./injured/leftleft039348_2_20cms_0degUP.avi
./injured/right_right_039348_3_20cms_0degUP.avi
./injured/
./healthy/
